<IfModule mod_rewrite.c>
    #Options -MultiViews

    RewriteEngine On
    RewriteBase /fm4/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^index.php [L]
    RewriteRule ^index_dev.php [L]
</IfModule>


FallbackResource /fm4/index.php
